# IDE files
*.vscode
*.code-workspace

# Build artifacts
__pycache__
build
*.pyd
*.egg-info
.eggs
dist
*.c
_version.py

# Test artifacts
.test
.coverage
coverage.json
testing.json
testing.log
profile.log
test_log.json
